.todo-container {
  margin-top: 10px;
}

.todo-container h1 {
  font-weight: 700;
  margin: 10px;
  margin-bottom: 20px;
}

.todo-container input {
  width: 100%;
}

.todo-container .item {
  text-align: left;
}

.vb-row {
  margin: 9px 4px;
  align-items: center;
}

.vb-button {
  width: 100%;
}
