<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Shop Menu</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <h1>
            Welcome to the Coffee Shop!
        </h1>
        <h2>
            Our Menu
        </h2>
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        	<tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                	<a th:href="@{/showFormUpdate/{id}(id=${product.id})}" class="btn-update">Update</a> 
                	<a th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn-delete">Delete</a>
                </td>
            </tr>
        </tbody>
        </table>
        
        <a th:href="@{/showFormAdd}" class="btn-add">Add New Product</a>

	</body>
</html>